*{
    padding: 0;
    margin: 0;
}

body{
   
    background-image:
    linear-gradient(to bottom, rgba(16, 41, 182, 0.52), rgba(91, 194, 105, 0.73)),
    url('grade.png');

    background-size: cover;
    color: rgb(119, 35, 35);
    padding: 20px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1{
    text-shadow: -1px 0 rgb(46, 28, 150), 0 1px rgb(121, 17, 17), 1px 0 black, 0 -1px black;

    font-family: sans; color: rgb(94, 219, 90);;
}

.input_grp{
    width: 80%;
    display: flex;
    column-gap: 5px;
    margin: 25px;
}

input{
    padding: 10px;
    border: none;
    width: 100%;
    border-bottom: 2px solid transparent;
    transition: 0.2s;
    font-size: 24px;
    border-radius: 5px;
    background:linear-gradient(to bottom, rgba(13, 165, 102, 0.52), rgba(126, 23, 23, 0.73));
}
input:focus{
    outline: none;
    border-bottom: 2px solid #1d54b9;
}
button{
    background: linear-gradient(to bottom, rgba(13, 165, 102, 0.52), rgba(126, 23, 23, 0.73));
    border: none;
    border-bottom: 2px solid transparent;
    outline: none;
    font-size: 24px;
    padding: 10px 20px;
    border-radius: 5px;
}
.table{
    background: linear-gradient(to bottom, rgba(13, 165, 102, 0.52), rgba(126, 23, 23, 0.73));
    width: 80%;
    font-size: 24px;
}